<h2>Product Details</h2>

<div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <h4> Price: {{ product.price | currency }}</h4>
    <p> Description: {{ product.description }}</p>

    <button (click)="addToCart(product)" >Buy</button>
</div>